Source: logilab-devtools
Section: python
Priority: optional
Maintainer: Logilab S.A. <contact@logilab.fr>
Uploaders: Alexandre Fayolle <afayolle@debian.org>,
           Adrien Di Mascio <adrien.dimascio@logilab.fr>,
           Julien Jehannet <julien.jehannet@logilab.fr>
Build-Depends: debhelper (>= 6.0), python-dev (>=2.3.5-7), python-support
Standards-Version: 3.8.0
Homepage: http://www.logilab.org/project/devtools
XS-Python-Version: current

Package: logilab-packaging
Architecture: all
Suggests: logilab-doctools, pymacs, emacsen-common, cvs, debian-archive-keyring
Recommends: piuparts, mercurial (>= 0.9.3), subversion, debinstall, diffstat
Depends: ${python:Depends}, python-debian, lintian, pbuilder, devscripts, debhelper,
         python-vcslib, python-logilab-common, sudo, cdebootstrap
Conflicts: devtools, simh
Replaces: devtools
XB-Python-Version: ${python:Versions}
Description: set of development tools used at Logilab
 Set of tools which aims to help the developpement process, including :
  * tools to check and build source and/or Debian packages
  * standard for zope and Python packages

Package: logilab-elisp
Architecture: all
Depends: emacsen-common
Conflicts: devtools
Replaces: devtools
Description: emacs lisp code for logilab development tools
 Set of elisp goodies including :
  * an emacs mode for pycover files
  * an emacs mode for ChangeLog files
  * a small set of emacs shortcuts used at logilab

Package: logilab-dev-environment
Architecture: all
Depends: python-all-dev, python-all-dbg, emacs, python-ropemacs, logilab-packaging, pycoverage, logilab-elisp, build-essential, pylint, mercurial, subversion, debinstall, hgview, meld, rcs, commit-tool
Recommends: vim-python | gvim
Description: Minimum set of packages for development at Logilab
 This metapackage ensures Python and pylint are available, as well as
 Emacs, Logilab's packaging tools and the version control tools used
 at Logilab (mercurial and subversion).
